body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #0A4049;
    margin-bottom: 10px;
}

.cart-summary, .checkout-form {
    width: 60%;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-style: ridge;
    border-width: 4px;
    border-color: #E09453;
    max-height: 620px
}

.cart-summary {
    border-style: ridge;
    border-width: 4px;
    border-color: #E09453;
    max-height: 480px;
}

.cart-item, .total {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.buy-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #45a049;
}
