* {
    font-family: "Merriweather", sans-serif;
  }
  
:root {
    --primary-color: #0A4049;
}

body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    color: #E09453; 
    font-size: 18px; 
}

header {
    font-family: 'Merriweather', sans-serif;
    background-color: #0a4049;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 16px;
}

nav ul li a:hover{
    font-family: 'Merriweather', sans-serif;
    color:#216974;
    font-weight: bolder;
}

nav ul li a {
    font-family: 'Merriweather', sans-serif;
    color: #e09453;
    text-decoration: none;
}

.logo img {
    max-height: 60px; 
}

.products {
    font-family: 'Merriweather', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; 
    padding: 40px; 
}

.product {
    flex: 0 0 calc(30% - 20px); 
    max-width: calc(50% - 20px); 
    text-align: center; 
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    display:inline-block; 
    margin: 0 auto 5px; 
}

.product-info {
    font-family: 'Merriweather', sans-serif;
    padding: 0px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    text-align: center;
}

.product-info h2 {
    font-family: 'Merriweather', sans-serif;
    color: var(--primary-color);
    margin-bottom: 5px; 
    font-size: xx-large; 
}

.product-info .price {
    font-family: 'Merriweather', sans-serif;
    color: var(--primary-color);
    font-size: large; 
    margin: 0 auto; 
    display: block; 
}

.product-info button {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--secondary-color);
    font-family: 'TheSeasonsBDIt', Arial, sans-serif;
    color: white;
    background-color: #0A4049;
    padding: 10px 20px; 
    margin-left: 60px; 
    border: none;
    cursor: pointer;
    display: inline-block; 
    border-radius: 8px; 
    font-size: large; 
}


.product-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px; 
}

.product-detail-container h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: large; 
}

.product-detail-info {
    font-family: 'Merriweather', sans-serif;
    padding: 0px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    text-align: center;
}

.product-detail-info h1 {
    font-family: 'Merriweather', sans-serif;
    color: var(--primary-color);
    margin-bottom: 15px; 
    font-size: larger; 
    margin-top: 5px;
}

.product-detail-info p {
    font-family: 'Merriweather', sans-serif;
    color: var(--primary-color);
    margin-bottom: 15px; 
    font-size: large; 
}

.product-detail-info .add-to-cart {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    margin-top: 20px; 
    font-size: small;
    margin-bottom: 10px;
}

.product-detail-info .add-to-cart:hover {
    font-family: 'Merriweather', sans-serif;
    background-color: #216974; 
}

.product-detail-info #quantity {
    font-family: 'Merriweather', sans-serif;
    width: 50px; 
    margin-top: 5px; 
    vertical-align: middle; 
    font-size: 20px; 
}